body {
    font-family: Roboto;
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}

.logo {
    padding-left: 90px;
}

/** Naviguation **/

#navigation {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 40px;
    animation-duration: 0.3s;
    animation-name: menu;
}

#navigation.on-scroll {
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    animation-duration: 0.3s;
    animation-name: menu-on-scroll;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
}

@keyframes menu-on-scroll {
    from {
        padding-bottom: 0;
        padding-top: 40px;
        background-color: transparent;
    }
    to {
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #ffffff;
    }
}

@keyframes menu {
    from {
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #ffffff;
    }
    to {
        padding-bottom: 0;
        padding-top: 40px;
        background-color: transparent;
    }
}

nav {
    padding-right: 90px;
}

nav li {
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

nav li:nth-child(n+2) {
    padding-left: 60px;
}

.on-scroll nav a,
.on-scroll nav a:hover,
.on-scroll nav a:focus,
.on-scroll nav a:visited {
    color: #080808;
    text-decoration: none;
}

nav a,
nav a:hover,
nav a:focus,
nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover,
nav a.active {
    padding-bottom: 5px;
    border-bottom: 3px solid #1FA8B1;
}

nav a.active {
    font-weight: 500;
}

.nav-inline {
    display: inline-block;
}
.nav-inline li {
    display: inline-block;
}

/** Section Vision **/

#vision .vision-intro{
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#vision h2 {
    margin: 0 0 10px 0;
}

.head-arrow {
    margin-bottom: 65px;
}

/** Section Love **/
#love {
    background-color: #ECF1F5;
}

/** Section Bro **/
#bro {
    background: url(../images/bg-pattern.png) fixed;
}

#bro h2 {
    margin: 0 0 40px 0;
}

/** Section Contact **/
#contact h2 {
    margin: 0 0 40px 0;
}

/** Section Footer **/
#footer {
    background-color: #FFF;
    font-size: 13px;
    line-height: 36px;
    margin-bottom: 100px;
}

.social-media {
    text-align: right;
}

/** Punchline **/
.punchline {
    padding-top: 150px;
    padding-bottom: 80px;
    color: #FFFFFF;
}
.punchline-subtitle {
    font-size: 45px;
    font-weight: 500;
}

/** Spacer **/
.spacer-inner-bottom-m {
    padding-bottom: 60px;
}

.spacer-inner-vertical-l {
    padding-top: 80px;
    padding-bottom: 80px;
}

.spacer-inner-vertical-xl {
    padding-top: 120px;
    padding-bottom: 120px;
}

/** Title H* **/
h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 100;
}

h2 {
    font-size: 36px;
    font-weight: 500;
}

/** Love element **/

.love-element h3 {
    font-size: 24px;
    color: #1FA8B1;
    line-height: 30px;
    font-weight: 500;
}

.love-element-line {
    width: 66px;
    height: 4px;
    background-color: #1FA8B1;
}

/** Team box **/
.teambox {
    display: inline-block;
    width: 280px;
    height: 280px;
    background-color: #3E556B;
    font-size: 30px;
    color: #FFFFFF;
    float: left;
    font-weight: 300;
}
.teambox-container {
    display: inline-block;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.15), 0px 30px 40px 0px rgba(0, 0, 0, 0.35);
}
.joinusbox {
    padding-top: 75px;
}

/** Button **/
.send-button {
    display: block;
    background: #1FA8B1;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0;
    padding: 10px 20px;
}

.send-button:hover.btn-type,
.send-button:focus.btn-type {
    display: block;
    background: #60987B;
    text-decoration: none;
}

a.btn-type {
    display: inline-block;
    background: #1FA8B1;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
}
a:hover.btn-type {
    display: inline-block;
    background: #60987B;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
}
.btn-joinus {
    font-size: 16px;
    margin: 30px auto 0 auto;
    padding: 14px 70px;
}

.btn-joinus span {
    display: block;
    padding-top: 14px;
}

/** Bro contact **/
.bro {
    position: relative;
    overflow: hidden;
}

.bro-contact {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
    background-color: rgba(0,0,0, 0.5);
}

.bro-contact-name {
    text-align: center;
}

/** Form **/
form .row {
    padding-bottom: 30px;
}

form .form-text {
    height: 80px;
}

form .form-control {
    font-size: 20px;
    color: #000;
    font-style: italic;
    font-weight: 300;
}
form textarea.form-control {
    font-size: 20px;
    color: #000;
    padding: 20px 0 0 20px !important;
    font-style: italic;
    font-weight: 300;
}

/** Utils **/

.line-height-p {
    line-height: 30px;
}

.bold {
    font-weight: bold;
}

.big-text {
    font-size: 50px;
    line-height: 62px;
}

.medium-text {
    font-size: 21px;
}

.text-light {
    font-weight: 300;
}

.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

.white {
    color: #FFF;
}

/** Responsive **/

@media (max-width: 1199px) {
    .spacer-inner-vertical-xl {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media (max-width: 1100px) {
    .teambox-container {
        width: 560px;
    }

    .joinusbox {
        width: 100%;
    }
}

@media (min-width: 992px) {
    nav {
        text-align: right;
    }

}

@media (max-width: 991px) {
    .spacer-inner-vertical-l {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .spacer-inner-vertical-xl {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .love-element-line {
        height: 0;
        margin-top: 0;
    }

    #contact input[type="text"] {
        margin-bottom: 25px;
    }

    .logo {
        padding-left: 0;
    }

    nav {
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 767px) {

    .logo {
        text-align: center;
        margin-bottom: 15px;
    }

    nav .icon-nav {
        background-color: #fff;
        display: block;
        margin-bottom: 0;
        padding-top: 5px;
        border-radius: 5px;
    }

    .on-scroll nav .icon-nav li,
    .on-scroll nav .icon-nav li a {
        border-radius: 0 !important;
    }

    nav .icon-nav li:first-child,
    nav .icon-nav li:first-child a {
        border-radius: 5px 0 0 5px;
    }

    nav .icon-nav li:last-child,
    nav .icon-nav li:last-child a {
        border-radius: 0 5px 5px 0;
    }

    nav .icon-nav li {
        display: block;
        width: 25%;
        margin-bottom: 0;
        float: left;
        padding-left: 0;
    }

    nav .icon-nav li a {
        color: #080808;
        display: block;
        font-size: 26px;
    }

    .nav .icon-nav a:hover {
        border-bottom: none;
    }

    nav .icon-nav a.active {
        border-bottom: 5px solid #1FA8B1;
    }

    #navigation {
        padding-top: 20px;
    }

    #navigation.on-scroll {
        padding-bottom: 0;
    }

    @keyframes menu-on-scroll {
        from {
            background-color: transparent;
        }
        to {
            background-color: #ffffff;
        }
    }

    @keyframes menu {
        from {
            background-color: #ffffff;
        }
        to {
            background-color: transparent;
        }
    }
}

@media (min-width: 992px) {
    .bro-contact {
        bottom: -100px;
    }

    .bro:hover .bro-contact {
        bottom: 0;
        animation-duration: 0.2s;
        animation-name: show-details;
    }

    @keyframes show-details {
        from {
            bottom: -100px;
        }

        to {
            bottom: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    nav li:nth-child(n+2) {
        padding-left: 10px;
    }
}

@media (max-width: 728px) {
    .teambox-container {
        width: 280px;
    }
}
